/* --------------------------- */
/* Custom properties           */
/* --------------------------- */

:root {
  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0, 0%, 100%;
  --clr-nav: 201, 79%, 46%;
  
  /* font sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1rem;
  --fs-500: 1.75rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
  
  /* font families */
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-seriff;
  --ff-ubuntu-normal: 'Ubuntu', sans-serif;
  
}

/* --------------------------- */
/* Reset                       */
/* --------------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins and list padding */

body, h1, h2, h3, h4, h5, p, figure, picture {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-weight: 400;
}

ul, ol {
  padding: 0;
}

/* set up the body */
body {
  font-family: var(--ff-ubuntu-normal);
  font-size: var(--fs-400);
  line-height: 1.5;
  min-height: 100vh; 
}

/* make images to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* forms reset */
input, button, textarea, select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------------------- */
/* Utility classes             */
/* --------------------------- */

.flex-container {
  display: flex;
}

.grid-container {
  display: grid;
  gap: 1rem;
}

/* --------------------------- */
/* My CSS                      */
/* --------------------------- */

body {
  background-color: hsl(214, 32%, 91%);
  grid-auto-columns: 1fr;
  grid-template-areas:
  'left top top top'
  'left projects projects right';
}

.top-bar{
  background-color: hsl(0, 0%, 100%);
  grid-area: top;
  grid-auto-columns: 1fr;
  align-items: end;
  grid-template-areas: 
  'search search search notifications' 
  'hello hello buttons buttons';  
  box-shadow: 0px 7px 15px -5px rgba(66, 68, 90, 1);
}

.search-bar {
  grid-area: search;
  background-color: hsl(214, 32%, 91%);
  width: 100%;
}

.notifications {
  grid-area: notifications;
}

.hello {
  grid-area: hello;
}

.buttons {
  grid-area: buttons;
}

.left {
  grid-area: left;
}

.nav-bar {
  background: hsl(var(--clr-nav));
  color: hsl(var(--clr-white));
  height: 100%;
}

.nav-bar-list {
  list-style: none;
  flex-direction: column;
}

.projects {
  grid-area: projects;
}

.projects-grid-container {
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  gap: 0.5rem;
}

.grid-element {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 7px 15px -5px rgba(66, 68, 90, 1);
}

.right {
  grid-area: right;
}
